.aboutUs-container {
  width: 90%;
  height: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  margin: 0 auto;
}

.aboutUs-contentLeft,
.aboutUs-contentRight {
  width: 100%;
  flex-basis: 48%; /* This ensures both columns take up equal space */
}

.aboutUs-imgWrapper {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.aboutUs-imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  transition: 0.3s ease;
}

.aboutUs-imgWrapper:hover img {
  transform: scale(1.5);
}

.aboutUs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.aboutUs-content h4 {
  font-size: 22px;
  font-weight: 400;
  color: #d35400;
}

.aboutUs-content h2 {
  font-size: 40px;
  color: #1e272e;
}

.aboutUs-content p {
  font-size: 16px;
  color: #343434;
  line-height: 28px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .aboutUs-container {
    flex-direction: column;
  }

  .aboutUs-contentLeft,
  .aboutUs-contentRight {
    flex-basis: 100%; /* Ensure the columns stack on smaller screens */
    width: 100%; /* Full width */
  }

  .aboutUs-imgWrapper {
    height: 250px;
    margin-top: 0;
    margin-bottom: 20px; 
  }

  .aboutUs-content h4 {
    font-size: 18px;
  }

  .aboutUs-content h2 {
    font-size: 30px;
  }

  .aboutUs-content p {
    font-size: 14px;
  }
}
