.contactus-BoxContainer{
  height: 60vh;
  width: 100%;
  background-image: url('https://thewebmax.org/indusza/images/background/map-bg-dark2.png');
  background-size: cover;
  background-position: center;
}
.contactUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 30px;
}

.contactUsContent {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.contactUsTitle{
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}
.contactUsTitle p {
  font-size: clamp(1.2rem, 3vw, 2rem);
  font-weight: bold;
  color: #080808;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.contactOptionOuterContainer {
  width: 100%;
}

.contactOptionWrapper {
  display: flex;
  white-space: nowrap; 
  will-change: transform;
  justify-content: center; 
  flex-wrap: nowrap; 
  width: auto;
}

.contactOption {
  font-size: clamp(1rem, 4vw, 2.5rem);
  margin-right: 50px;
  cursor: pointer;
  white-space: nowrap; /* Prevent the text from wrapping */
  transition: transform 0.3s ease, color 0.3s ease;
}

.contactOption:hover {
  transform: scale(1.1);
  color: #f39c12;
}
.contactUsContent-text{
  max-width: 100%;
  margin-top: 60px;
}
.brand-selectedText {
  font-size: calc(1em + 30vmin);
  font-weight: 900;
  color: #5c5c5c; /* Soft Gray */
  
  text-shadow: 
    -0.0625em 0.0625em 0px #eaeaea, /* Very Light Gray */
    -0.0875em 0.0875em 0px #b3cde0;
  text-align: center;
}
.contactOption a {
  text-decoration: none; 
  color: inherit; 
  transition: color 0.3s ease, transform 0.3s ease;
}

.contactOption a:hover {
  color: #f39c12; 
  transform: scale(1.1); 
}





/* Mobile View (up to 480px) */
@media (max-width: 480px) {
  .brand-selectedText {
    font-size: 80px;
    transform: rotate(-90deg); /* Vertical text */
    margin-top: 18px;
  }

  .contactOptionWrapper {
    display: flex;
    align-items: center; /* Fixes slight misalignment */
    gap: 10px; /* Ensure it stays horizontal */
    overflow: hidden;
  }

  .contactOption {
    font-size: 20px; /* Smaller font size */
    margin-right: 8px; /* Reduce extra spacing */
  }
}

/* Tablet View (up to 768px) */
@media (max-width: 768px) {
  .contactUsContent-text{
    max-width: 100%;
    margin-top: 160px;
  }
  .brand-selectedText {
    font-weight: 900;
    transform: rotate(-90deg);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  
  }

  .contactOptionWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 10px;
  }
  .contactOption {
    font-size: 1.2rem;
    padding: 10px 16px;
    margin-right: 5px; /* Adjust margin for tablet */
  }
 
}
